p {
  text-align: justify;
  text-justify: inter-word;
}

footer {
  text-align: center;
}

.heading {
  text-align: center;
}

.container {
  font-family: 'Times New Roman', Times, serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


