.header{
  width: 100%;
  height: 200px;
  display: flex;
  box-sizing: border-box;
  padding: 10px 30px;
  background: #F4F4F4;
}
.header p{
  margin: 10px 0;
}
.left-header{
  margin-right: auto;
}
.right-header{
  margin-left: auto;
}
p{
  padding: 0;
  margin: 0;
  color: #343B4B;
  font: normal normal normal 15px/24px Arial;
}
.right-header p{
	color: #343B4B;
}
p.company-name{
	color: #000000;
  font: normal normal bold 18px/24px Arial;
}
.bill-details{
  width: 100%;
  height: 230px;
  display: flex;
  box-sizing: border-box;
  padding: 10px 30px;
}
.bill-details p{
  margin: 10px 0;
}
p.title{
	color: #000000;
  font: normal normal bold 15px/24px Arial;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: -webkit-fill-available;
}
td, th {
  border: none;
  text-align: left;
  padding: 13px;
}
th{
  background: #F4F4F4;
}
td{
  background: #F9F9FA;
}
.total-price{
  width: 100%;
  height: auto;
  min-height: 120px;
  display: flex;
  margin-top: 30px;
}
.left-price-column{
  width: 60%;
  background: #F9F9FA;
  padding-top: 20px;
  padding-left: 20px;
}
.right-price-column{
  width: 40%;
  background: #F4F4F4;
  padding-top: 50px; 
  padding-right: 20px;
}
.right-price-column p{
  color: #343B4B;
  font: normal normal normal 15px/24px Arial;
}
.right-price-column p.total{
  color: #000000;
  font: normal normal bold 25px/30px Arial;
}
.footer{
  margin: 60px auto 10px auto;
  display: flex;
  width: fit-content;
}